rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){ return request.auth != null; }
    match /users/{uid} { allow read, write: if signedIn(); }
    match /institutes/{id} { allow read: if true; allow write: if signedIn(); }
    match /exams/{id} { allow read: if true; allow write: if signedIn(); }
    match /examQuestions/{id} { allow read: if true; allow write: if signedIn(); }
    match /studentAccess/{id} { allow read: if true; allow create: if signedIn(); allow update: if true; }
    match /results/{id} { allow read: if signedIn(); allow create, update: if true; }
  }
}
